{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container">
        <button class="btn btn-light btn-lg" disabled>Fee Challan</button>
        <div class="row">
            <div class="col">
                <p class="h2 alert alert-danger">Current Challan</p>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Fee Challan For 6th Grade</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <h5 class="card-title">Name</h5>
                            </div>
                            <div class="col-3">
                                Hamza
                            </div>
                            <div class="col-3">
                                <h5 class="card-title">Reg No</h5>
                            </div>
                            <div class="col-3">
                                FA16-BSE-101
                            </div>
                            <div class="col-3">
                                <h5 class="card-title">
                                    Class
                                </h5>
                            </div>
                            <div class="col-3">
                                6 C
                            </div>
                            <div class="col-3">
                                <h5 class="card-title">
                                    School
                                </h5>
                            </div>
                            <div class="col-3">
                                COMSATS
                            </div>
                            <div class="col-3">
                                <h5 class="card-title">
                                    Ammount
                                </h5>
                            </div>
                            <div class="col-3">
                                567$
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-dark">Print</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-light btn-lg" disabled>Previous Record</button>
            </div>
        </div>

        <div class="overflow-auto">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="container " style="overflow: scroll; height:60%">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Payment Date</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>10 Oct 2010</td>
                                    <td>Thornton</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>10 Oct 2010</td>
                                    <td>the Bird</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 Oct 2010</td>
                                    <td>Otto</td>
                                    <td><a href="#" class="btn btn-dark">Download</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}