{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container">
        <h1><button class="btn btn-light btn-lg" disabled>Quiz</button></h1>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Science</span>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="alert alert-light">
                            <table class="table">
                                <thead>
                                    <th>Assignment Title</th>
                                    <th>Submission Date</th>
                                    <th>Total Marks</th>
                                    <th>Marks Obtained</th>
                                    <th>Submit</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Math
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="alert alert-light">
                            <table class="table">
                                <thead>
                                    <th>Assignment Title</th>
                                    <th>Submission Date</th>
                                    <th>Total Marks</th>
                                    <th>Marks Obtained</th>
                                    <th>Submit</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Biology
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="alert alert-light">
                            <table class="table">
                                <thead>
                                    <th>Assignment Title</th>
                                    <th>Submission Date</th>
                                    <th>Total Marks</th>
                                    <th>Marks Obtained</th>
                                    <th>Submit</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Assignment 1</td>
                                        <td>18 Oct 2010</td>
                                        <td>100</td>
                                        <td>60</td>
                                        <td>
                                            <form>
                                                <div class="form-group"><input type="file" disabled
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}