{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main">
     <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <h1>ATTENDANCE</h1>
             </div>
         </div>
         {% if mark_attendance == False %}
         <div class="row">
             <div class="col-md-12 alert alert-success" role="alert">
              Today's Attendance is already marked !
            </div>
         </div>
         {% else %}
         <div class="row">
             <div class="col-md-1 alert alert-primary">No.</div>
             <div class="col-md-7 alert alert-primary">NAME</div>
             <div class="col-md-2 alert alert-primary">PRESENT</div>
             <div class="col-md-2 alert alert-primary">ABSENT</div>
         </div>
             <form method="post" action="{% url 'teacher:mark_attendance' %}">
                 {% csrf_token %}
                 {% for student in students %}
                 <div class="form-group row">
                     <div class="col-md-1 ">{{ forloop.counter }}</div>
                     <div class="col-md-7 ">{{ student.user.username }}</div>
                     <div class="col-md-2">
                         <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{student.user.username}}" id="gridRadios1" value="Present" checked>
                            <label class="form-check-label" for="gridRadios1">
                            Present
                            </label>
                         </div>
                     </div>
                     <div class="col-md-2">
                         <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{student.user.username}}" id="gridRadios2" value="Absent">
                            <label class="form-check-label" for="gridRadios2">
                            Absent
                            </label>
                        </div>
                     </div>
                     </div>
                     {% endfor %}
                    <div class="form-group row">
                        <div class="col-md-4"></div>
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
             </form>
        {% endif %}
     </div>
</div>
{% endblock %}