{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card ">
                    <div class="card-header">Personal Information</div>
                    <div class="card-body">
                        <table class="table table-sm" style="border: none;">
                            <tbody>
                                <tr>
                                    <th scope="row">Full Name</th>
                                    <td>{{teacher_data.user.first_name}} {{teacher_data.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Leaves Allowed</th>
                                    <td>{{teacher_data.leaves}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Current Salary</th>
                                    <td>{{teacher_data.pay}} Rupees</td>
                                </tr>
                                <tr>
                                    <th scope="row">Joining Date</th>
                                    <td>{{ teacher_data.date_joining.date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Noticeboard
                    </div>
                    <div class="card-body">
                        <marquee width="100%" direction="up" height="100px" scrollamount="2">
                        {% for notice in notices %}
                            <div class="alert alert-primary">
                                    {{notice.title}}
                            </div>
                        {% endfor %}
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Class Attendance
                    </div>
                    <div class="card-body">
                        {% if mark_attendance %}
                            <div class="alert alert-danger">
                                    Kindly Mark Today's Attendance
                            </div>
                        {% else %}
                            <table class="table table-sm" style="border: none;">
                                <tbody>
                                    <tr>
                                        <th scope="row">Section</th>
                                        <td>{{section}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total Students</th>
                                        <td>{{total_students}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Present Today</th>
                                        <td>{{present}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Absent Today</th>
                                        <td>{{ absent }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Today's TODOs
                    </div>
                    <div class="card-body">
                        <div style="overflow:auto;height:200px;">
                        {% for task in todos %}
                            <div class="alert alert-warning" style="width:80%;">
                                {{task.task}}<br><b class="small">{{task.assign_by}}</b>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Class Progress
                    </div>
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">1 A</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:90%">5 B</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%">1 C3</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:55%">6 A</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Queries
                    </div>
                    <div class="card-body">
                        <div id="attendanceChart"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
