{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h1 >STUDENT INFORMATION</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2 style="color:DodgerBlue;">Classes</h2>
            </div>
        </div>
        <div class="row outer-scroll flex-row flex-nowrap">
                {% for section in sections %}
                <div class="col-md-4 inner-scroll">
                    <a href="#" onclick="sectionInfo('{{section}}')" class="btn btn-block btn-info scroll-buttons"><h1>{{section}}</h1></a>
                </div>
                {% endfor %}
        </div>
        <br>
        <br>
        <div class="row">
            {% for section in sections %}
                <div id="{{section}}" class="col-md-12 section-info">
                <table class="table table-hover table-fixed">
                    <tr>
                        <th>USER ID</th>
                        <th>NAME</th>
                        <th>PARENT NAME</th>
                        <th>ACTIONS</th>
                    </tr>
                    {% for student in students %}
                    {% if student.section == section %}
                        <tbody>
                        <tr>
                            <td>{{ student.user.first_name }}{{ student.user.phone_number }}</td>
                            <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                            <td>{{ student.parent.user.first_name }} {{ student.parent.user.last_name }}</td>
                            <td>View More ...</td>
                        </tr>
                        </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function infoFunction() {
  var x = document.getElementById("info_details");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

    function sectionInfo(section) {
<!--    var y = document.getElementsByClassName("section-info");-->
<!--    for (i = 0; i < y.length; i++){-->
<!--        y[i].style.display === "none";-->
<!--    }-->

    if (document.getElementById(section)) {
        var x = document.getElementById(section);
        if (x.style.display === "none") {
            x.style.display = "block";
          }
         else {
            x.style.display = "none";
          }
    }
}
<!--function changeDisplay(section) {-->
<!--    if (document.getElementById(section)) {-->
<!--        var x = document.getElementById(section);-->
<!--        if (x.style.display === "none") {-->
<!--            x.style.display = "block";-->
<!--          }-->
<!--         else {-->
<!--            x.style.display = "none";-->
<!--          }-->
<!--    }-->
<!--}-->

<!--var temp = 'Data';-->
<!--function sectionInfo(section) {-->
<!--    changeDisplay(temp);-->
<!--    temp = section;-->
<!--    changeDisplay(section);-->
<!--}-->
</script>
{% endblock content %}