
  .navigation
  {
      position: fixed;
      width: 100px;
      height: 100%;
      background: #111;
      top: 60px;
      transition: 0.5s;
      overflow: hidden;
      margin-left: -50px;
  }
  .navigation:hover
  {
      width:260px;
  }

  .navigation ul{
      position: absolute;
      top: 15px;
      left: 0;
      width: 100%;
  }
  .navigation ul li{
      position: relative;
      width: 100%;
      list-style: none;
  }

  .navigation ul li:hover{
      color: #fff;
  }

  .navigation ul li a:hover{
      background: transparent;
      color: #fff; }

  .navigation ul li a{
      position: relative;
      display: block;
      width: 100%;
      display: flex;
      text-decoration: none;
      color: #989898;
  }
  .navigation ul li a .icon{
      position: relative;
      display: block;
      min-width: 71px;
      height: 50px;
      line-height: 25px;
      text-align: center;
  }

  .navigation ul li a .icon .glyph1{
      font-size: 19px;
  }
  .navigation ul li a .title{
      font-size: 17px;
  }

  .navigation ul li a .title{
      position: relative;
      display: block;
      padding : 0 10px;
      height: 50px;
      line-height: 25px;
      text-align: start;
      transition: 0.5s;
      white-space: nowrap;
  }

.navigation:hover + .main{
    margin-left: 250px;
    transition: 0.5s;
}
.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .top-text-block {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: inherit !important;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
  }
  .top-text-block:hover:before {
    content: '';
    width: 4px;
    background: #f05a1a;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  .top-text-block.unread {
    background: #ffc;
  }
  .top-text-block .top-text-light {
    color: #999;
    font-size: 0.8em;
  }
  .top-head-dropdown .dropdown-menu {
    width: 350px;
    height: 300px;
    overflow: auto;
  }
  .top-head-dropdown li:last-child .top-text-block {
    border-bottom: 0;
  }
  .topbar-align-center {
    text-align: center;
  }
  .loader-topbar {
    margin: 5px auto;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top: 3px solid #666;
    width: 22px;
    height: 22px;
    -webkit-animation: spin-topbar 1s linear infinite;
    animation: spin-topbar 1s linear infinite;
  }
  @-webkit-keyframes spin-topbar {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin-topbar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.card{
    margin-top: 2rem;
}
table, th, td {
    border: none;
  }
.row{
  margin-top: 2rem;
}